@import './theme-variables';
@import './fonts';


html {
    scroll-behavior: smooth;
}


@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    font-family: 'Open Sans'
}


/* Basic Struture */


#site-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    height: auto;
}

