:root {

    --bg-color: #ffffff;
    --text-color: #000000;

    // Colours
    --grey: ##bdbdbd;
    --light-blue: #add8e6;
    --dark: #121212;
    --light: #ffffff;

    // Globals
    --font-color: var(--dark);
    --link-color: var(--grey);

    --theme-primary-color: #ff0000;
    --theme-secondary-color: #ff0022;
    --theme-background-paper: #ffffff;


    // Font Sizes
    --heading-h1: 4rem;
    --heading-h2: 3.5rem;
    --heading-h3: 3rem;
    --heading-h4: 2.75rem;
    --heading-h5: 2.25rem;
    --heading-h6: 1.5rem;


    $theme-primary: var(--theme-primary-color);
    $theme-secondary: var(--theme-secondary-color);
    $theme-background: var(--theme-background-paper);

    --Paper-overlay: none;

    --palette-AppBar-darkBg: #ff0000;

}